* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: #131920;
}

body {
  display: flex;
  overflow: hidden;
}

.app_children::-webkit-scrollbar {
  width: 5px;
  background: #000;
}

.app_children::-webkit-scrollbar-thumb {
  background: #cececf;
}

.app_nav {
  width: 18%;
}

.app_children {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  /* width: 100%; */
  transition: 0.3s ease-in-out all;

  .app_top_nav {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 9;
    color: #fff;
    backdrop-filter: blur(6px);
    background: rgba(34, 34, 34, 0.1);
    /* grid-template-columns: repeat(auto-fill, minmax(300px,1fr)); */
  }
}

.full_screen {
  width: 100%;
}

.half_screen {
  width: 82%;
}
