@import url(./styles/style.css);
@import url(./styles/dashboard_style.css);

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: #131920;
}

body {
  display: flex;
  overflow: hidden;
}

.app_children::-webkit-scrollbar {
  width: 5px;
  background: #000;
}

.app_children::-webkit-scrollbar-thumb {
  background: #cececf;
}

.app_nav {
  width: 18%;
}

.app_children {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100vh;
  transition: 0.3s ease-in-out all;
  top: 0;

  .app_top_nav {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 9;
    color: #fff;
    backdrop-filter: blur(6px);
    background: rgba(34, 34, 34, 0.1);
  }
}

.full_screen {
  width: 100%;
  position: absolute;
  right: 0;
}

.half_screen {
  width: 82%;
}

.app_container {
  display: flex;
  width: 100%;
}

.ltr {
  flex-direction: row-reverse;
}

.full_screen_reverse {
  left: 0;
  width: 100%;
  position: absolute;
}
