* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: #131920;
}

body {
  display: flex;
  overflow: hidden;
}

.app_nav {
  width: 18%;
}

.app_children {
  width: 82%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100vh;

  .app_top_nav {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 9;
    color: #fff;
    backdrop-filter: blur(6px);
    background: rgba(34, 34, 34, 0.1);
    /* grid-template-columns: repeat(auto-fill, minmax(300px,1fr)); */
  }

  /* .app_top_nav * {
    background: transparent;
  } */
}
