.container {
  background: #1d2630;
  height: 100vh;
  overflow-y: auto;
  padding: 0 0.75rem 2rem 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  transition: 0.4s ease-in-out;
  overflow-y: hidden;

  &:hover {
    transition: 0.4s ease-in-out;
    overflow-y: auto;
  }

  &::-webkit-scrollbar {
    background: transparent;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: 8px;
  }

  .nav_header {
    font-size: 20px;
    color: #fff;
    position: sticky;
    top: 0;
    background: #1d2630;
    padding: 2rem 0 2rem 0;
  }

  .navigation_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
  }

  .navigation_container2 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .navigation_container h3 {
    font-size: 12px;
    color: #717171;
  }

  .show_nav_caption {
    display: block;
  }

  .hide_nav_caption {
    display: none;
  }

  .navigation_container2 a {
    font-size: 13px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
    border-radius: 12px;
  }

  .active {
    background-color: rgba(0, 140, 255, 0.1);
    color: #5ac2ff;
  }

  .in_active {
    color: #b3b3b3;
  }

  .navigation_container2 svg {
    font-size: 18px;
  }
}

.container * {
  background: transparent;
}
